<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Card</title>
    <link rel="stylesheet" type="text/css" href="../static/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="../static/thesignal.css">
</head>
<body>
<div class="ui stackable grid">
    <div class="four wide column"></div>
    <div class="eight wide column">
        <br/>
        <h1 class="ui header">Original Card</h1>
        <div class="ui divider"></div>
        <br/><br/>  <!-- Space to breathe *hmm* -->
        <div class="ui card">
            <div class="image">
                <img src="../static/images/vivienne-ming.jpg">
            </div>
            <div class="content">
                <a class="header">Finding Purpose Through Reincarnations and Transitions</a>
                <div class="meta">
                    <span class="date">Laura Gao | July 31, 2017</span>
                </div>
                <div class="description">
                    After dropping out and becoming homeless, Dr. Vivienne Ming got a Ph.D., became a transgender rights
                    advocate, and devoted her life to researching purpose.
                </div>

            </div>
            <div class="extra content">
                <span><a class="article-type">INTERVIEW</a> | <span class="tags"><a>LGBT</a>, <a>Data Science</a>, <a>Career Transformation</a></span></span>
            </div>
        </div>
    </div>
    <div class="four wide column"></div>
</div>
</body>
</html>
