<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Subscribe Form</title>
    <link rel="stylesheet" type="text/css" href="../static/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="../static/thesignal.css">
</head>
<body>
<div class="ui stackable grid">
    <div class="four wide column"></div>
    <div class="eight wide column">
        <br/>
        <h1 class="ui header">Featured Bar</h1>
        <div class="ui divider"></div>
        <br/><br/>  <!-- Space to breathe *hmm* -->
        <div class="ui secondary pointing right menu">
          <a class="active item">
            Featured
          </a>
          <div class="right menu">
            <a class="ui item">
              Articles
            </a>
            <a class="ui item">
              Interviews
            </a>
            <a class="ui item">
              Penn
            </a>
            <a class="ui item">
              More >
            </a>
          </div>
        </div>
        <div class="ui segment">
          <p></p>
        </div>
    </div>
    <div class="four wide column"></div>
</div>
</body>
</html>
