<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
    <link rel="stylesheet" type="text/css" href="../static/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="../static/thesignal.css">
    <script src="../static/semantic.min.js"></script>
</head>
<body>
<div class="ui stackable secondary pointing menu">
    <div class="logo">
        <img class="logo-image" src="/static/images/placeholder.svg">
        <span class="logo-text">
            The Signal
        </span>
    </div>
    <div class="right menu">
        <a class="item active">
            Home
        </a>
        <a class="item">
            Projects
        </a>
        <a class="item">
            About
        </a>
        <div class="item">
            <div class="ui transparent icon input">
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="ui text menu">
        <a class="item active">
            Home
        </a>
        <a class="item">
            Projects
        </a>
        <a class="item">
            About
        </a>
    </div>
    The Signal © 2018.
</div>
</body>
</html>