<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Subscribe Form</title>
    <link rel="stylesheet" type="text/css" href="../static/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="../static/thesignal.css">
</head>
<body>
<div class="ui stackable grid">
    <div class="four wide column"></div>
    <div class="eight wide column">
        <br/>
        <h1 class="ui header">Subscribe Form</h1>
        <div class="ui divider"></div>
        <br/><br/>  <!-- Space to breathe *hmm* -->
        <form class="ui form">
          <div class="inline fields">
            <div class="ten wide field">
              <input type="text" name="subscriber-email" placeholder="Your email address">
            </div>
            <div class="two wide field">
              <div class="ui secondary basic button">Subscribe</div>
            </div>
        </form>
    </div>
    <div class="four wide column"></div>
</div>
</body>
</html>
