<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Template Components</title>
    <link rel="stylesheet" type="text/css" href="../static/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="../static/thesignal.css">
    <link rel="stylesheet" type="text/css" href="../static/icon.min.css">
</head>
<body>
<div class="ui stackable grid">
    <div class="two wide column"></div>
    <div class="twelve wide column">
        <br/>
        <h1 class="ui header">Template Components</h1>
        <div class="ui divider"></div>
        <div class="ui text menu">
          <img class="ui circular image" src="../static/images/thesignal.PNG" height="90px" width="90px" style="margin-right: 30px !important;">
          <h1 style="margin-bottom: 30px;">The Sign.al</h1>
          <div class="right menu">
            <a class="active item">
              Home
            </a>
            <a class="item">
              About
            </a>
            <a class="item">
              Archive
            </a>
            <div class="ui input" class="menu-search-div">
              <input type="text" placeholder="Search..." class="menu-search">
            </div>
            <i class="search icon"></i>
          </div>
        </div>
        <div class="ui segment">
          <p></p>
        </div>
    </div>
    <div class="two wide column"></div>
</div>
</body>
</html>
