@import './semantic.css';

@font-face {
    font-family: 'Cerebri Sans';
    src: url('./fonts/cerebrisans-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cerebri Sans';
    src: url('./fonts/cerebrisans-medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Cerebri Sans';
    src: url('./fonts/cerebrisans-italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Cerebri Sans';
    src: url('./fonts/cerebrisans-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Cerebri Sans';
    src: url('./fonts/cerebrisans-bolditalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'HK Carta';
    src: url('./fonts/HKCarta-Regular.svg') format('truetype');
    font-weight: normal;
    font-style: italic;
}

* {
    font-family: "Cerebri Sans", sans-serif !important;
}

body > * {
    margin-bottom: 30px;
}

/*.footer {*/
    /*position: absolute;*/
    /*right: 0;*/
    /*bottom: 0;*/
    /*left: 0;*/
    /*!*padding-top: 1rem;*!*/
    /*padding-bottom: 1rem;*/
    /*text-align: center;*/
    /*margin-bottom: 0px;*/
    /*color: #666666;*/
    /*background-color: gainsboro;*/
/*}*/

/*ui.menu {*/
    /*font-size: 24px;*/
    /*border: none;*/
    /*box-shadow: none;*/
/*}*/

/*.ui.menu .item {*/
    /*background: none;*/
    /*font-size: 22px;*/
    /*font-weight: bold !important;*/
    /*margin-bottom: 30px;*/
    /*color: black !important;*/
    /*margin-left: 10px !important;*/
    /*margin-right: 10px !important;*/
/*}*/

/*.ui.menu .active.item {*/
    /*border-bottom: 3px solid black !important;*/
/*}*/

/*.menu-search {*/
    /*margin: 25px 10px !important;*/

/*}*/

/*
.ui.menu .logo {
    margin-top: 1rem;
    font-size: 1.8rem;
    font-weight: bold;
    padding-left: 1.1rem;
}

.logo-text {
    display: inline-block;
    position: absolute;
    left: 68px;
    top: 1.9rem;
}

.ui.menu .logo-image {
    height: 45px;`
    width: 45px;
    display: inline-block;
    margin-right: 0.4rem;
}*/

.ui.stackable {
    border-bottom: 0px solid transparent;
    margin: 100px;
}


.signal.menu {
    color: #8a8a8a;

    font-weight: bold;
    font-size: 24px;

    margin-bottom: 30px;
}

/*.ui.text.menu {
    text-align: center;
}*/

.ui.card {
    width: 360px;
    height: 490px;

    border-radius: 16px;
    position: relative;
}

.ui.card:not(.author) {
    box-shadow: 0 0 30px 2px #E0E0E0;
}

.ui.card.featured {
    width: 100%;
    height: 300px;
}

.ui.card:hover:not(.author) {
    transform: scale(1.03);
    box-shadow: 0 0 30px 3px #EEEEEE;

    transition: all 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.ui.card.featured:hover {
    transform: scale(1.02);
}

.ui.card > * {
    height: 100%;
}

.ui.card .image img, .ui.card .image {
    border-radius: 16px 16px 0 0 !important;
}

.ui.card.featured .image img, .ui.card.featured .image {
    border-radius: 16px 0 0 16px !important;
}

.ui.card .image {
    height: 200px;
}

.ui.card.featured .image {
    height: 100%;
    width: 100%;

    position: absolute;
}

.ui.card .image > * {
    object-fit: cover;

    height: 100% !important;
    width: 100% !important;

    position: absolute;
}

.ui.card.author {

}

.ui.card.author .image {
    width: 160px;
    height: 160px;

    margin: 40px 50%;
    transform: translateX(-80px);

    border-radius: 100px !important;
    box-shadow: 0 0 12px 3px #DDDDDD;
}

.ui.card.author img {
    border-radius: 100px !important;
}

.ui.card .content {
    margin: 14px;
    border-top: 0;

    position: relative;
}

.ui.card.featured .content {
    margin: 30px;
    border-top: 0;

    height: 100%;
}

.ui.card.author .content > * {
    text-align: center;
}

.ui.card .divider {
    color: lightgray;
}

.ui.card .content .meta {
    margin-top: 10px;
}

.ui.card .content .header:not(.ui) {
    font-size: 20px;
    font-weight: bold;
    line-height: 1.3em;

    color: rgba(0, 0, 0, 0.85);
}

.ui.card.featured .content .header {
    font-size: 28px;
}

.ui.card .content .description {
    color: #333333;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;

    margin-bottom: 20px;
}

.ui.card.featured .content .description {
    position: absolute;

    bottom: 40px;
    width: 100%;
}

.ui.label {
    background-color: #EEEEEE;
}

.ui.card:not(.author) .extra.content {
    border-top: 2px solid #EEEEEE !important;
    margin-top: 0;
    margin-bottom: 2px;
}

.ui.card.author .extra.content {
    margin-top: -15px;
    margin-bottom: 15px;

    text-align: center;

    border-top: none !important;
}

.ui.card.featured .extra.content {
    position: absolute;

    width: 100%;
    height: 40px;
    bottom: 5px;

    margin: 0;
    padding-top: 8px;
}

.ui.card .extra.content > * {
    display: inline-block;
}

.ui.card .extra.content a.article-type {
    font-weight: 500;
    color: #444444 !important;

    margin-right: 10px;
}

.ui.card .extra.content .tag > a:not(:hover) {
    color: rgba(0, 0, 0, 0.4);
}

.ui.card .extra.content .tag + .tag {
    margin-left: 3px;
    padding-left: 6px;

    border-left: 1px solid lightgray !important;
}

/* Article */

.article > .header > img {
    width: 100%;
    height: auto;
}

.article > h1 {
    width: 70%;
    font-size: 36px;
}

/* Icons */

.icon {
    display: inline-block;

    background-size: contain;
    background-repeat: no-repeat;
}

.icon.outline {
    width: 25px;
    height: 25px;
}

.icon.outline.colored {
    width: 40px;
    height: 40px;
}

.icon.filled {
    width: 100px;
    height: 100px;
}


.icon.close {
    background-image: url("/static/icons/icon_close.svg");
}

.icon.search {
    background-image: url("/static/icons/icon_search.svg");
}

.icon.fb {
    background-image: url("/static/icons/icon_fb.svg");
}

.icon.twitter {
    background-image: url("/static/icons/icon_twitter.svg");
}

.icon.email {
    background-image: url("/static/icons/icon_email.svg");
}


/* Buttons and forms */

.ui.basic.secondary.button {
    outline: none;
    box-shadow: none !important;

    border: 2px solid transparent;
    border-image: linear-gradient(0, #EBEBEB 0%, rgb(252, 236, 188) 100%);
    border-image-slice: 1;

    font-weight: bold;
    text-transform: uppercase;
}

.ui.basic.secondary.button:hover {
    outline: none;
    box-shadow: none !important;

    border: 2px solid transparent;
    border-image: linear-gradient(0, #EBEBEB 0%, rgb(252, 236, 188) 100%);
    border-image-slice: 1;

    background-color: rgba(252, 236, 188, 0.2) !important;
}

.ui.form input[type="text"] {
    border: 2px solid transparent;
    border-image: linear-gradient(0, #EBEBEB 0%, #FCECBC 100%);
    border-image-slice: 1;
}

.ui.basic.secondary.button.tiny {
    padding-top: 7px;
    height: 30px;
}

/* Tags */

.ui.label.outline {
    background-color: transparent;
    border: 1px solid grey;
}

.ui.label.heading {
    font-size: 28px;

    text-transform: uppercase;

    background-color: transparent;
    border: 2px solid lightgray;
    border-radius: 8px;

    padding-top: 20px;
    padding-right: 22px;
}

.ui.label.heading:after {
    content: "X";
    color: transparent;
    opacity: 0.6;

    display: inline-block;

    background-image: url("/static/icons/icon_close.svg");
    background-size: contain;
    background-repeat: no-repeat;

    transform: scale(1.3) translateY(2px);

    margin-left: 18px;
}

/* Astrum */

.ndpl-component__container h1 {

}

.ndpl-component__container h2 {
    color: grey;
    font-size: 14px;

    text-transform: uppercase;
}

.ndpl-component__container h3 {
    font-size: 24px;
}

.ndpl-component__container .manual-serif {
    font-family: 'HK Carta', serif !important;
}
